.user-dropdown {
    position: relative;
    display: inline-block;
}

.nav-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.account {
    max-width: 1330px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.account h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.account-block {
    border: 1px solid white;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}

.projects-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorite-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.photo-card {
    border: 1px solid white;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
    width: 150px;
}

.photo-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.profile-avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile-fields label {
    font-weight: 700;
    margin-bottom: 5px;
}

.profile-fields input[type="text"],
.profile-fields input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #009CDF;
    margin-bottom: 10px;
}

button {
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #009CDF;
    cursor: pointer;
}
.success-msg {
    color: #0f0;
    margin-bottom: 15px;
}
.error {
    color: red;
    font-size: 14px;
}

